[submodule "connector"]
	path = connector
	url = https://github.com/OCA/connector/
	branch = 12.0
[submodule "partner-contact"]
	path = partner-contact
	url = https://github.com/OCA/partner-contact/
	branch = 12.0
[submodule "rest-framework"]
	path = rest-framework
	url = https://github.com/OCA/rest-framework/
	branch = 12.0
[submodule "access-addons"]
	path = access-addons
	url = https://github.com/it-projects-llc/access-addons
	branch = 12.0
